.main-container{
    background-color: #fff;
}
.input-sql{
    width: 100%;
    height: 300px;
    resize: none;
}
.border{
    border: 1px solid #ccc;
}
.button-group{
    padding: 10px;
    border-top: 0;
}
.clearfix{
    overflow: hidden;
}
.pull-right{
    float: right;
}
.mgl10{
    margin-left: 10px;
}
.mgb10{
    margin-bottom: 10px;
}
.mgb0{
    margin-bottom: 0;
}
.ant-tabs-tab{
    margin: 0 !important;
}
.ant-tabs-tab-active{
    margin: 0 !important;
    padding-bottom: 0 !important;
}